In [2]:
import pandas as pd

# Example asset values for TO
asset_values = [10540337, 10032096, 20012001, 30045009]

# Generate sample data
data = []
for i in range(50):
    asset = asset_values[i % len(asset_values)]
    row = {
        "time": 1743532199 + i * 86400,
        "TO": asset,
        "sensor1_min": round(40 + i * 0.5, 2),
        "sensor1_max": round(60 + i * 0.7, 2),
        "sensor2_min": round(10 + (i % 3) * 0.5, 2),
        "sensor2_max": round(98 + (i % 2), 2),
        "sensor2_mean": round(50 + i * 0.6, 2),
        "sensor3_min": round(10 + (i % 5), 2),
        "sensor3_max": round(99 - (i % 4), 2),
        "sensor3_mean": round(52 + i * 0.4, 2)
    }
    data.append(row)

df = pd.DataFrame(data)

# Write to Parquet file
df.to_parquet("../data/artifacts/daterange1/training_data1_generated.parquet", index=False)

In [4]:
# import pandas as pd
import os

folder = "../data/artifacts/daterange1"
parquet_files = [f for f in os.listdir(folder) if f.endswith(".parquet")]
print(parquet_files)

dfs = []
columns_set = set()
for file in parquet_files:
    df = pd.read_parquet(os.path.join(folder, file))
    dfs.append(df)
    columns_set.add(tuple(df.columns))

if len(columns_set) > 1:
    raise ValueError("Not all files have the same columns!")

combined_df = pd.concat(dfs, ignore_index=True)
print(combined_df.shape)

['training_data1_generated.parquet', 'training_data1.parquet', 'training_data2.parquet']
(214, 10)

In [5]:
combined_df.head()

,time,TO,sensor1_min,sensor1_max,sensor2_min,sensor2_max,sensor2_mean,sensor3_min,sensor3_max,sensor3_mean
0,1743532199,10540337,40.0,60.0,10.0,98.0,50.0,10.0,99.0,52.0
1,1743618599,10032096,40.5,60.7,10.5,99.0,50.6,11.0,98.0,52.4
2,1743704999,20012001,41.0,61.4,11.0,98.0,51.2,12.0,97.0,52.8
3,1743791399,30045009,41.5,62.1,10.0,99.0,51.8,13.0,96.0,53.2
4,1743877799,10540337,42.0,62.8,10.5,98.0,52.4,14.0,99.0,53.6